<head>

  <link href="css/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <script src="js/videojs-ie8.min.js"></script>

  <style type="text/css">
    .video-js {
      width: 100% !important;
      height: 100%;
    }

    body {
      /*background-color: black;*/
    }
  </style>

</head>

<body id = "chat">
  <h1>Hello World</h1>
        
  <ul id='messages'>
      <li v-repeat="advertisement: advertisements">{{advertisement.url}}</li>
  </ul>

  <video id="myvideo" class="video-js" controls autoplay preload="auto" width="640" height="264" data-setup="{}">
    <source id="movie3" src="videos/movie3.mp4" type='video/mp4'>
  </video>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/video.js"></script>

  <script type="text/javascript">
    var socket = io("http://188.166.183.37:3000/");
    // var socket = io("http://advserver.local:8081/");
    var xmlhttp = new XMLHttpRequest();

    var vue = new Vue({
        el: '#chat',
        
        data: {
            advertisements: [],
        },
        
        ready: function() {
          // localStorage.clear();
            this.advertisements = localStorage.getItem('advertisements') ? JSON.parse(localStorage.getItem('advertisements')) : [];
            socket.on('advertising', function(data) {
                console.log(this.advertisements);
                this.advertisements.push(data.advertisement);
                localStorage.setItem('advertisements', JSON.stringify(this.advertisements));
                $.ajax({url: 'videos/download.php?url='+data.advertisement.url + '&filename=' + data.advertisement.filename});
            }.bind(this));
        },
        
        methods: {
            send: function(e) {
                localStorage.clear();
                e.preventDefault();
            }
        }
    });
  </script>

  <script type="text/javascript">
    var video = videojs('myvideo').ready(function(){
    var player = this;
    var index = 1;

    console.log("videos/" + vue.advertisements[0].filename);
    player.src("videos/" + vue.advertisements[0].filename);

    player.load();
    player.play();

    player.on('ended', function() {
      console.log(index);

      if (vue.advertisements.length <= index) {
        index = 0;
      }

      player.src("videos/" + vue.advertisements[index].filename);

      player.load();
      player.play();

      index++;
    });
  });
  </script>
</body>